@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Message</h2>

<p>World of Tanks is a team-based massively multiplayer online action game dedicated to armored warfare in the middle of the 20th century. 
    Throw yourself into epic tank battles with other tankers all over the world. 
    Your arsenal includes more than 400 armored vehicles from 
    America, the United Kingdom, Germany, France, the Soviet Union, China and Japan. 
</p>
