@{
    ViewBag.Title = "WoT-Wiki";
}

<div class="jumbotron">
    <h1>Wiki WorldofTanks</h1>
    <p class="lead">This wiki is provided by MMO WoT</p>
    <p><a href="http://wiki.wargaming.net/ru/World_of_Tanks" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            Here you can add a description to the tanks that are in the game.
        </p>
        <p><a class="btn btn-default" href="http://localhost:49867/Home/About">Learn more &raquo;</a></p>
    </div>
</div>